:root {
    --bar-height: 60px;
}

.tab {
    width: 100%;
    height: 600px;
}

.tab .tab-bar {
    display: flex;
    height: var(--bar-height);
}

.tab .tab-bar .bar {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    cursor: pointer;
}

.bar.active {
    border-bottom: grey 2px solid;

}


.tab-content {
    height: calc(100% - var(--bar-height));
    width: 100%;
    position: relative;
}

.tab-content .content {
    height: 100%;
    width: 100%;
    opacity: 0;

    transition: none;

    /*visibility: hidden;*/
    position: absolute;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

.tab-content .content.active {
    /*visibility: visible;*/
    opacity: 1;
    transition: opacity .3s ease-in-out;

}