.container .emoji {
  text-align: center;
}
.container .text {
  background-image: -webkit-gradient(
    linear,
    left 0,
    right 0,
    from(rgb(4, 94, 170)),
    to(rgb(1, 152, 216))
  );
  -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
  -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
}
.container .error {
  background-image: -webkit-gradient(
    linear,
    left 0,
    right 0,
    from(rgb(233, 94, 170)),
    to(rgb(190, 100, 216))
  );
  -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
  -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
}
